<!DOCTYPE html>
<html>
<head>
<div th:replace="system/pages/common/login-common.html :: copy-common-head"></div>
<title>重置密码 | 云取证</title>
</head>
<body>
	<div th:replace="system/pages/common/login-common.html :: copy-login-header">此处header动态复用</div>
	<div class="containerBg">
		<div class="containerBox">
		  <div class="findContainer">
		  	<form id="reset-pwd-form" action="#" th:action="@{/wesign/reset-password.html}" th:object="${resetPasswordForms}" method="POST">
			  	<h2 class="reg-title">重置密码</h2>
			  	<input type="hidden" name="token" th:value="${token}">
			  	<div class="mb10">
					<label for="email" class="info-label">账号:</label>
					<input type="text" id="account" name="account" th:value="${account}" class="info-input" readonly="true">
				</div>
				<div class="mb10">
					<label for="password" class="info-label">新密码:</label>
					<input type="password" th:field="*{password}" name="password" class="info-input">					
				</div>
				<div class="mb10">
					<label for="rePassword" class="info-label">确认密码:</label>
					<input type="password" name="rePassword" class="info-input">
				</div>
				<div class="mt40">
					<input type="button" id="reset-submit-btn" value="完成" class="solidBtnMid">
					<a th:href="@{/wesign/login.html}" class="solidBtnMid btnNormal ml5">返回登录</a>
					<span class="tipWarning"></span>
				</div>
			</form>
		  </div>
		</div>
	</div>
	<div th:replace="system/pages/common/login-common.html  :: copy-login-footer">此处footer动态复用</div>
	<script src="../../js/resetpwd.js" th:src="@{/static/system/js/resetpwd.js}" type="text/javascript"></script>
</body>
</html>