<!DOCTYPE html>
<html>
<head>
<title>保全中心 | 云取证</title>
<div th:replace="system/pages/common/sys-quote-common.html :: copy-syscommon-headerstyle"></div>
<link rel="stylesheet" href="../../css/simple-pagination.css" th:href="@{/static/system/css/simple-pagination.css}">
</head>
<body>
<div th:replace="system/pages/common/browser-common.html :: copy-browser">动态复用</div>
<div class="container">
	<div class="container-header">
		<div th:replace="system/pages/common/sys-bar-common.html :: copy-headerbar">动态复用</div>
	</div>
	<div class="rmain">
	      <div class="lbar">
	      		<div class="lbar-block">
	      			<a class="creat-doc-enter" th:href="@{'/wesign/documents/sign-self.html'}">
	      			    <i class="icon-add addSignFlow"></i>
	      			    <span>新建保全</span>
	      			</a>
			        <ul id="doc-id-bar" class="lbar-link" name="1">
			            <!-- <li id="allDocBarId" class="active">
			            	<a href="javascript:;">
			            		<i class="icon-ownsign-hollow"></i>
			            		<span class="lbar-link-title">全部保全文件</span>
			            	</a>
						</li> -->
			            <!-- <li id="waitMeBarId">
			            	<a href="javascript:;">
				            	<i class="circle-state default-bg"></i>
				            	<span class="lbar-link-title">待我签署</span>
				            </a>
				        </li> -->
			            <!-- <li id="waitOtherBarId">
			            	<a href="javascript:;">
			            		<i class="circle-state transit-bg"></i>
			            		<span class="lbar-link-title">等待他人签署</span>
			            	</a>
			           </li> -->
			           <li id="signedBarId" class="active">
			            	<a href="javascript:;">
			            		<i class="circle-state success-bg"></i>
			            		<!-- <span class="lbar-link-title">已完成</span> -->
			            		<span class="lbar-link-title">保全列表</span>
			            	</a>
			           </li>
			           <li id="waitMeBarId">
			            	<a href="javascript:;">
				            	<i class="circle-state default-bg"></i>
				            	<span class="lbar-link-title">出证列表</span>
				            </a>
				        </li>
			        </ul>
		        </div>
		        <div th:replace="system/pages/common/sys-bar-common.html :: copy-leftbar-app">动态复用</div>
		</div>

	      <div class="rmain-main">
	            <div class="rmain-operation-bar">
	               <div class="dis-inline bar-title"><span class="js-doctitle">全部文件</span></div>
	               <div class="search-form-group dis-inline rmain-top-barr posAr mr35">
	               		<i id="submit-search-icon" class="icon-search-hollow"></i>
				        <input id="search-input-id" class="search-input" type="text" name="" value="" placeholder="输入“主题关键字”搜索你的文件" />
	               </div>
	            </div> <!-- rmain-operation-bar -->
	            <div class="rmain-show-area">
	                <div class="area-operate"></div>
	                <div class="rmain-view-container">
	                	<div class="view plr30">
               				<div class="thead">
                				<div class="thead-td firstEle td-f1">保全状态</div>
                				<div class="thead-td td-f2">保全号</div>
                				<div class="thead-td td-f3">保全时间</div>
                				<div class="thead-td td-f4">操作</div>
               				</div>
                			<div id="docListContainer"></div>
                		</div>
	                </div><!-- rmain-view-container -->
	                <div class="bottom-oparate textCenter">
	                	<div class="dis-inline">
	                		<div class="js_pagination bar-title"></div>
	                	</div>
	                </div>
	            </div> <!-- rmain-show-area -->
	        </div>
	        <!-- more info -->
			<div id="js_taskinfo_box" class="taskinfo-box"></div>   
			<!-- end more info -->
	</div> <!--rmain-->
</div>    

<!--footer-->
<div th:replace="system/pages/common/sys-quote-common.html  :: copy-sysbase-footer">此处footer动态复用</div>
<script th:src="@{/static/common/js/jquery.simplePagination.js}" type="text/javascript"></script>
<script th:src="@{/static/system/js/doctask.js}" type="text/javascript"></script>
</body>
</html>
