@charset "utf-8"

body {
	background-color: #dedede;
}

#woyun {
	text-align: center;
	margin-top: 5%;
	color: gray;
}

h1 {
	font-size: 50px;
	color: #0162c2;
}

h2 {
	color: gray;
	margin-bottom: 30px;
}

#info {
	margin: 0px auto;
	margin-top: 5%;
	width: 350px;
	background-color: #ebebeb;
}

#info>form>input {
	margin-top: 10px;
	margin-bottom: 5px;
	height: 40px;
}

.signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, .04);
	margin-top: 5%;
}

.signin input:hover {
	border-color: #428bca;
}

#fm {
	max-width: 350px;
	min-height: 310px;
}

#login {
	margin-top: 8%;
	height: 50px;
}

.errmsg {
	color: red!important;
	font-size: 12px;
	display: none;
}
