<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.signit.dao.mysql.RepoMapper" >
  <resultMap id="BaseResultMap" type="cn.signit.domain.mysql.Repo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="repo_id" property="repoId" jdbcType="VARCHAR" />
    <result column="repo_name" property="repoName" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, repo_id, repo_name, user_email, create_time, state, delete_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from repo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from repo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.signit.domain.mysql.Repo" >
    insert into repo (id, repo_id, repo_name, 
      user_email, create_time, state, 
      delete_time)
    values (#{id,jdbcType=BIGINT}, #{repoId,jdbcType=VARCHAR}, #{repoName,jdbcType=VARCHAR}, 
      #{userEmail,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{state,jdbcType=BIT}, 
      #{deleteTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.signit.domain.mysql.Repo" >
    insert into repo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="repoId != null" >
        repo_id,
      </if>
      <if test="repoName != null" >
        repo_name,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="repoId != null" >
        #{repoId,jdbcType=VARCHAR},
      </if>
      <if test="repoName != null" >
        #{repoName,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.signit.domain.mysql.Repo" >
    update repo
    <set >
      <if test="repoId != null" >
        repo_id = #{repoId,jdbcType=VARCHAR},
      </if>
      <if test="repoName != null" >
        repo_name = #{repoName,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.signit.domain.mysql.Repo" >
    update repo
    set repo_id = #{repoId,jdbcType=VARCHAR},
      repo_name = #{repoName,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=BIT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- Customize -->
  <insert id="insertAndGetId" parameterType="cn.signit.domain.mysql.Repo" keyProperty="id" useGeneratedKeys="true">
    insert into repo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="repoId != null" >
        repo_id,
      </if>
      <if test="repoName != null" >
        repo_name,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="repoId != null" >
        #{repoId,jdbcType=VARCHAR},
      </if>
      <if test="repoName != null" >
        #{repoName,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="selectByRepoNameAndUserEmail" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from repo
    where repo_name = #{repoName,jdbcType=VARCHAR} and user_email = #{userEmail, jdbcType=VARCHAR}
  </select>
  <select id="selectByUserEmailAndState" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from repo
    where user_email = #{userEmail, jdbcType=VARCHAR} and state = #{state,jdbcType=BIT}
  </select>
  <select id="selectByUserEmail" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from repo
    where user_email = #{userEmail, jdbcType=VARCHAR}
  </select>
  <update id="updateByRepoId" parameterType="cn.signit.domain.mysql.Repo" >
    update repo
    set 
      repo_name = #{repoName,jdbcType=VARCHAR},
    where repo_id = #{repoId,jdbcType=VARCHAR}
  </update>
  <update id="markRepositoryDeleted" parameterType="cn.signit.domain.mysql.Repo" >
    update repo
    <set >
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where repo_id = #{repoId,jdbcType=VARCHAR}
  </update>
  <delete id="deleteByRepoId" parameterType="java.lang.Long" >
    delete from repo
    where repo_id = #{repoId,jdbcType=VARCHAR}
  </delete>
  
  <!-- End -->
</mapper>