<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.signit.dao.mysql.SystemLogMapper" >
  <resultMap id="BaseResultMap" type="cn.signit.domain.mysql.SystemLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, username, info, time, result, ip
  </sql>
  <select id="total"  parameterType="java.lang.Long" resultType="java.lang.Long">
    select 
     count(1)
    from system_log
  </select>
   <sql id="sql_count">
     select count(*)
  </sql>
  <sql id="sql_select">
     select *
  </sql>
  <sql id="sql_limit">
	  <if test="offset != null and limit != null">
	       limit #{offset},#{limit}
	  </if>
  </sql>
   <sql id="sql_where">
   from system_log
   	where 1=1
   	<if test="id != null" >
        and id=#{id,jdbcType=BIGINT}
      </if>
      <if test="userId != null" >
        and user_id=#{userId,jdbcType=BIGINT}
      </if>
      <if test="username != null" >
        and username=#{username,jdbcType=VARCHAR}
      </if>
      <if test="info != null" >
        and info=#{info,jdbcType=VARCHAR}
      </if>
      <if test="from != null" >
        <![CDATA[and time>=#{from,jdbcType=TIMESTAMP}]]>
      </if>
       <if test="to != null" >
        <![CDATA[and time<=#{to,jdbcType=TIMESTAMP}]]>
      </if>
      <if test="result != null" >
        and result=#{result,jdbcType=VARCHAR}
      </if>
      <if test="ip != null" >
        and ip=#{ip,jdbcType=VARCHAR}
      </if>
   </sql>
   <select id="selectSelective" parameterType="cn.signit.domain.web.SqlSystemLog" resultMap="BaseResultMap">
  				<include refid="sql_select"/> 
                <include refid="sql_where"/>
                <include refid="sql_limit"/>
  </select>
    <select id="selectSelectiveTotal" parameterType="cn.signit.domain.web.SqlSystemLog" resultType="java.lang.Long">
  				<include refid="sql_count"/> 
                <include refid="sql_where"/> 
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from system_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from system_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.signit.domain.mysql.SystemLog" >
    insert into system_log (id, user_id, username, 
      info, time, result, 
      ip)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, 
      #{info,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{result,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.signit.domain.mysql.SystemLog" >
    insert into system_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="ip != null" >
        ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.signit.domain.mysql.SystemLog" >
    update system_log
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.signit.domain.mysql.SystemLog" >
    update system_log
    set user_id = #{userId,jdbcType=BIGINT},
      username = #{username,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      result = #{result,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>