.bodyFile{
	margin:20px 20px;
}
.myCook{
	height:50px;
	line-height:50px;
	background:#f0f3f5;
	border-radius:5px;
	min-width:280px;
}
.cook-left{
	display:inline-block;
	margin-left:40px;
}
.cook-right{
	display:inline-block;
	margin-left:20px;
	line-height:50px;
}
.addBtn{
	border:1px solid #B5B5B5;
	border-radius:3px;
	height:30px;
	font-family:"Microsoft YaHei", sans-serif;
	background:#fff;
	font-size:1.3rem;
	padding-bottom:2px;
	color:#8B8B7A;
	cursor:pointer;
	padding:5px;
}
.iconFont{
	margin-left:5px;
}
.noneFile{
	height:80px;
	padding:10px;
	margin-top:70px;
	text-align:center;
	background:#f0f3f5;
	border-radius:3px;
}
.font-create{
	font-weight:900;
	margin-top:15px;
	margin-bottom:10px;
}
.repose tr{
	background:#f0f3f5;
}
/* 吃的是草 */
.lookFile{
	padding:0 20px;
}
.a-hover{
	color:#eb8205;
}
.a-hover:hover{
	text-decoration:underline;
}
.path-split{
	padding:0 5px;
	display:inline-block;
}
.btn-choose{
	background:#f0f3f5;
	height:60px;
	margin-top:10px;
	border-radius:3px;
	line-height:60px;
	min-width:280px;
	padding:0 30px;
	position:relative;
}
.allBtn{
	border:1px solid #B5B5B5;
	border-radius:3px;
	height:30px;
	font-family:"Microsoft YaHei", sans-serif;
	background:#fff;
	font-size:1.3rem;
	padding-bottom:2px;
	color:#400000;
	cursor:pointer;
	margin-right:5px;
}
.listBtn{
	border:1px solid #B5B5B5;
	border-radius:3px;
	height:30px;
	font-family:"Microsoft YaHei", sans-serif;
	background:#fff;
	font-size:1.3rem;
	padding-bottom:2px;
	color:#400000;
	cursor:pointer;
}
.allBtnFont{
	margin:0 10px;
}
.trash-file{
	position:relative;
	float:right;
	font-size:1.4rem;
}
.trash-file i{
	font-size:1.8rem;
	cursor:pointer;
	padding:5px;
	line-height:50px;
	display:inline-block;
	color:#8B8B7A;
	float:none;
}
.first-table{
	margin: 40px 0px;
}
.file-table{
	padding:0px 30px;
}
.trash-file i:hover{
	color:#eb8205;
}
.tr-border{
	border-bottom:2px solid #f0f3f5;
}
.file-tab{
	width:100%;
}
.file-tab tr{
	margin-bottom:5px;
	height:40px;
}
.file-tab .th-1{
	width:10%;
}
.file-tab .th-2{
	width:30%;
}
.file-tab .th-3{
	width:15%;
}
.file-tab .th-4{
	width:25%;
}
.file-tab .th-5{
	width:30%;
}
.file-tab tr .th-2,.th3,.th-4,.th5{
	text-align:left;	
}
#repo-table  .th-3,
#repo-table  .th-4{
	text-align:center;	
}
.repose .th-3,
.repose .th-4{
	text-align:center;	
}
.th-1{
	padding-left:30px;
}
tr:hover{
	background:#f0f3f5;
	color:#00868B;
}
.all-icon{
	font-size:1.4rem;
	cursor:pointer;
	padding:5px;
	display:inline-block;
	color:#8B8B7A;
	margin-right:5px;
}
.all-icon:hover{
	color:#eb8205;
}
.div-input input{
	font-size:1.2rem;
}
.div-input{
	display:inline-block;
}
.th-2{
	cursor:pointer;
}
#id-repose-content{
	position:absolute;
	right:0;
	bottom:0;
	top:50px;
	left:0;
	overflow-y:auto;
	margin-bottom:20px;
	margin-left:25px;
	margin-right:25px;
}
/* 设置滚动条的样式 google */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:999px;
	-moz-border-radius:999px;
    -webkit-border-radius:999px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: rgba(137,137,137,0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    border-radius:999px;
	-moz-border-radius:999px;
    -webkit-border-radius:999px;
}
::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(183,183,41,0.5);
}

/* 滚动条 IE */
div {
    scrollbar-base-color:rgba(137,137,137,0.5);
}
./*new repose */
.newPose{
	margin-top:30px;
}
#doc-id-bar  .active{
	background:#DEDEDE;
}
.lbar-block{
	margin-top:25px;
}
.class-pagation{
	position:absolute;
	bottom:25px;
}