/**
 *证书管理
**/
#resetForm, #submitForm{
    cursor:pointer;
    padding:8px 30px;
    background-color: #48a148;
    border-color: #4cae4c;
    color:#fff;
}
#resetForm:hover, #submitForm:hover{
    background-color: #5cb85c;
}

#resetForm{
    margin-right:47px;
}