span{
    display: inline-block;
}
hr{
    height: 1px;
    border: none;
    border-top: 1px solid #e4e8ee;
}
input[type='text']{ 
    height: auto;   
    border: 1px solid #e4e8ee;
    border-radius: 2px;
} 
input[type='text']:focus,
textarea:focus,
select:focus{
    border-color: #095db1;
    outline: 0;
}
.cl-white{
    color: #fff;
}
.signFlowPage{
	width: 900px;
}
.partTitle{
    margin-top: 55px;
    margin-bottom: 10px;
    font-weight: 500;
}
 
.partSectionI{
    margin-top: 40px;
    margin-bottom: 20px;
}
.upload-files-button{
    line-height: 50px;
    position: relative;
    width: 190px;
    height: 50px;
    text-align: center;
    background-color: #3c9;
}
.uploadFilesBtn{
    visibility: visible;
    position: absolute;
    height: 50px;
    width: 190px;
    top: 0;
    left: 0;
    border: 0;
    opacity: 0;
    filter:Alpha(opacity=0);
    color: transparent;
    cursor: pointer;
}
.chooseFile p{
    font-size: 12px;
    color: #c1c7d4;
}
.orderTrig{
    cursor: pointer;
}
.signCert{
	margin-left: 30px;
}
.certChoose{
    border: .5px solid #e4e8ee;
	background-color: #e4e8ee;
	color: #505255;
	cursor: pointer;
}
.signWith{
	border-radius: .2em 0 0 .2em;
}
.signWithout{
	border-radius: 0 .2em .2em 0;
}
.choosen{
	background: #3c9;
	color: #fff;
	border: .5px solid #3c9;
}
.recipientInfo{
    height: 60px;
    width: 900px;
    line-height: 60px;
    position: relative;
    border-top: 1px solid transparent;
}
.sortHandle{
	display: none;
    width: 12px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
    background: url('../images/pdficons/sort.png') no-repeat;
    cursor: move;
} 
.orderDisplay{
	width: 16px;
	padding: 14px 5px;
	margin-right: 6px;
	text-align: center;
}
.recipientName,
.recipientEmail{
    padding: 14px 10px;
    width: 285px; 
    margin-right: 6px; 
}
.recipientType{
    width: 236px;
    height: 49px;
    margin-right: 5px;
    padding: 9px;
    border-color: #e4e8ee;
    border-radius: 2px;
}
.deleteRecipient,
.noneDelete{   
	font-size: 18px;
	color: #e4e8ee;
    cursor: pointer;
}
.addRecipient,.addRecipient-flow{
    line-height: 48px;
    position: relative;
    width: 888px;
    height: 48px;
    margin-top: 5px;
    padding-left: 10px;
    border: 1px dashed #095db1;
    cursor: pointer;
    color: #095DB1;
}
.addRecipient:hover{
    border-color: #a9a9a9;
    color: #a9a9a9;    
}
.addRecipientIcon{
	color: #095db1;
}
.msgTitle{
    position: relative;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.docTitle{
    margin-top: 10px; 
    padding: 10px; 
    width: 330px;
}
.file-encryption{
    margin-top: 10px; 
    padding: 10px; 
    width: 330px;
}
.msgContent{
    margin-bottom: 40px;
}
.msgContentTxt{
    width: 330px;
    height: 80px;
    margin-top: 10px;
    padding: 10px;
    resize: none;
    border: 1px solid #e4e8ee;
    border-radius: 2px;
}
.submitSignInfo{
    font-size: 14px;
    font-weight: bold;
    width: 360px;
    height: 50px;
    margin-bottom: 100px;
    cursor: pointer;
    border: 0;
    background-color: #095db1;
}
.emailWarn,
.limitWarn,
.warning{
    display: none;
	color: #ff6700;
	margin-left: 20px;
}

/* 本人签 */
.self-recipientInfoArea{
    position: relative;
    margin-top: 40px;
}
.self-recipientName,
.self-recipientEmail,
.self-addresserName,
.self-addresserEmail{
    padding: 14px 10px;
    width: 320px; 
    margin-right: 6px; 
}
