<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- 日志保存路径为tomcat下面的logs下面的CloudSignLog文件夹，logback会自动创建文件夹，这样设置了就可以输出日志文件了 -->
	<substitutionProperty name="logbase" value="${catalina.base}/logs/springmvc/" />
	<!-- 这个是要配置输出文件的 -->
	<jmxConfigurator />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%.-5level|%d{HH:mm:ss}|%-30.30logger{0}|%msg%n</pattern>
		</layout>
	</appender>
	<!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份) -->
	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<File>${logbase}%d{yyyy-MM-dd}.log.html</File>
			<FileNamePattern>${logbase}.%d{yyyy-MM-dd}.log.html.zip
			</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
		<layout class="ch.qos.logback.classic.html.HTMLLayout">
			<pattern>%date%level%thread%10logger%file%line%msg</pattern>
		</layout>
	</appender>
	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root>
</configuration>