<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>修改密码</title>
<div th:replace="system/pages/common/sys-quote-common.html :: copy-syscommon-headerstyle"></div>
<link rel="stylesheet" href="../../css/setting.css" th:href="@{/static/system/css/setting.css}"/>
</head>
<body>
<div class="container">
	<div class="container-header">
		<div th:replace="system/pages/common/sys-bar-common.html :: copy-headerbar">动态复用</div>
	</div>
	<div class="view" style="top:60px;"> 
		<div class="ui-nav-container">
			<div class="ui-nav-content">
					<h2 class="setForm-title">
						<!-- <a th:href="@{'/wesign/'+${session.loginRole}+'/my-info.html'}" class="previous-page">账号设置</a>&nbsp;&nbsp;＞&nbsp;&nbsp;修改密码 -->
						<a th:href="@{'/wesign/my-info.html'}" class="previous-page">账号设置</a>&nbsp;&nbsp;＞&nbsp;&nbsp;修改密码
					</h2>
			</div>
		</div>
		<div class="ui-nav-content setForm-container">
	    	<div class="setForm-container-content">
		        <form class="setForm">
		    		<div><label for="js_reset_oldPwd">请输入旧密码：</label><p><input id="js_reset_oldPwd" name="oldPassword" type="password" /></p></div>
		    		<div><label for="js_reset_newPwd">请输入新密码：</label><p><input id="js_reset_newPwd" name="newPassword" type="password" /></p></div>
		    		<div><label for="js_reset_conPwd">请确认新密码</label><p><input id="js_reset_conPwd" name="confirmPassword" type="password" /></p></div>
		    		<div><span id="js_save_resetPwd" class="setForm-btn">保存密码</span>
		    			<p class="ml135 mt20"><span id="js_savePwd_error"></span></p>
		    		</div>
		        </form>
	        </div>
       </div>          
	</div> <!-- view -->
	<div class="tipMsg hidden" title="提示">
		<div class="tipMsgContent"></div>
		<div id="js_btn_group" class="confirmBtn textCenter borderTop">
		</div>
	</div>
</div>    

<!--footer-->
<div th:replace="system/pages/common/sys-quote-common.html :: copy-sysbase-footer"></div>

<script  type="text/javascript" th:src="@{/static/common/js/spark-md5.min.js}"></script>
<script  type="text/javascript" th:src="@{/static/system/js/account/resetCommon.js}"></script>
<script type="text/javascript" th:src="@{/static/system/js/account/resetPwd.js}"></script>
</body>
</html>