<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    	<title>服务条款|易企签</title>
    	<div th:replace="home/pages/common/quote-common.html :: copy-base-head"></div>
  </head>
  <body>
  <!--  顶部 -->
   		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 topStyle">
          <div class="col-xs-4 col-sm-3 col-lg-1 col-md-1">
          <a href="index.html" th:href=@{/index.html}>
          	<img src="../images/logo_01.jpg" th:src=@{/static/home/images/logo_01.jpg} class="logo">
          </a>
          </div>
          <div class="hidden-xs col-sm-3 col-lg-2 col-md-3 pull-right">
            <p class="text-center tellphone">
              400-168-8973
            </p>
          </div>
          <div class="visible-xs-inline-block pull-right">
            <p class="text-center tellphone">
              400-168-8973
            </p>
          </div>
        </div>
   	<div class="container" style="padding: 70px 50px 40px;">
   		<h2 class="state-title">服务条款</h2>
		<h3>一、 导言</h3>
			<p>尊敬的易企签用户，感谢您使用我方提供的基于互联网的电子签名服务；拟签订的软件服务合同以及本服务条款中涉及的所有软件或服务统称为“本服务”，“本服务”是指我方为您提供的易企签电子签名云服务，包括多种可供用户进行在线审批、合同签署、在线存储及其他互联网应用的服务产品，以及软件服务合同期限内的您所使用的各项服务和软件服务产品的升级和更新。</p> 
		<h3>二、 您如何获得服务</h3>
			<p>为获得本服务，您应当完成如下工作：按照本服务注册页面上的提示注册一个易企签帐号并保证该帐号持续有效；了解并接受本服务条款的约束；了解并接受相关软件服务合同的约束；完成服务费用的支付；在完成上述流程后，您会获得生效的电子软件服务合同，我方将为您提供本服务。</p>
		<h3>三、 签署合同</h3>
			<p>您签署软件服务合同时，您必须达到适用法律规定的具备法定行为能力的年龄；如果您未达到具备法定行为能力的年龄，须由您的父母或法定监护人完成合同的签署。以下行为中任何一种均表明您已经了解并接受软件服务合同的条款和条件：</p>
			<p>（a）您点击“我同意”或“我接受”等按钮表明您确认同意或接受服务条款或软件服务合同的电子版本；（b）您在线下与我方签署了软件服务合同的纸质版本；或（c）您实际使用了本服务（包括连同本服务一同提供的任何第三方服务）。如果您通过在线方式接受了软件服务合同，您可以为了内部记录的目的，用您浏览器的打印功能打印该电子合同的在线版本。</p>
		<h3>四、 服务内容</h3>
			<p>本服务的具体内容见我方官网www.signit.cn所公示内容。我方有权调整服务内容和服务方式的权利（包括但不限于本服务条款），且这些调整后的内容或服务或基于此形成的概述和/或功能描述，都将作为软件服务合同及本服务条款的有效组成部分。我方会通过有效方式给予通知，同时您在享受服务时，亦应及时查阅了解修改内容并自觉遵守。</p>
		<h3>五、 服务费用</h3>
			<p>软件服务合同以及本服务条款项下的服务为收费服务，只有您确认愿意接受本服务并向我方支付相应服务费后，我方才会在一个特定期限（“服务期限”）内为您提供本服务。我方有权根据实际情况随时调整收费标准，但该调整不会对您已经购买的服务产生影响。服务费用的调整均以我方官网www.signit.cn公示为准。</p>
			<p>服务费用不包含因您或您的成员访问互联网或移动网络而产生的相关费用。无论本服务收费与否，您均应自行承担因使用本服务而向包括网络运营商在内的第三方支付的相关费用，例如，互联网接入费、电话费、手机短信费等。</p>
		<h3>六、 您如何使用本服务</h3>
			<p>在使用本服务时，您应当：</p>
			<p>• 遵守任何可适用的法律，包括可适用的国际条约或公约规定；</p>
			<p>• 遵守所有与本服务有关的合同、准则、规定、程序或通告；</p>
			<p>• 妥善保管您的帐号信息，并将您获悉的任何对您帐号的非法使用或您的帐号出现安全漏洞等相关情况立即通知我方；</p>
			<p>• 确保您上传和存储数据的安全性，例如不带有病毒、木马和其他有害程序；</p>
			<p>• 自行妥善、及时做好您的数据的备份工作。</p>
		<h3>七、 权利和义务</h3>
		<h4>1. 您的权利和义务</h4>
			<p>1） 您同意遵守软件服务合同、《易企签服务协议 》、本服务条款、以及易企签官网服务展示页面的相关管理规范及流程。您了解上述合同及规范等的内容可能会不时变更。如软件服务合同的任何内容发生变动，易企签提前30天在易企签官网的适当版面公告向您提示修改内容。如您不同意易企签对软件服务合同相关条款所做的修改，您有权在15日内提出异议，如双方无法达成一致，您有权停止使用易企签的服务。此等情况下，易企签与您进行服务费结算（如有），并向您提供您存储数据的下载服务。如您继续使用易企签服务，或未提出异议，则视为您接受易企签对软件服务合同相关条款所做的修改。</p>
			<p>2） 您应按照易企签的页面提示及软件服务合同的约定支付相应服务费用。</p>
			<p>3） 您承诺：</p>
				<p>A． 如果您利用易企签提供的服务进行的经营活动需要获得国家有关部门的许可或批准的，应获得该有关的许可或批准。</p>
				<p>B． 除易企签明示许可外，不得修改、翻译、改编、出租、转许可、在信息网络上传播或转让易企签提供的软件，也不得逆向工程、反编译或试图以其他方式发现易企签提供的软件的源代码。</p>
				<p>C． 若易企签的服务涉及第三方软件之许可使用的，您同意遵守相关的许可合同的约束。</p>
				<p>D． 不散布电子邮件广告、垃圾邮件（SPAM）：利用易企签提供的服务散发大量不受欢迎的或者未经请求的电子邮件、电子广告或包含反动、色情、政治性煽动言论等有害信息的电子邮件。</p>
				<p>E． 不将所购买的服务或其中的部分如存储空间等再次出售或出租。</p>
				<p>F． 不利用易企签提供的资源和服务上传（Upload）、下载（Download）、储存、发布如下信息或者内容，不为他人发布该等信息提供任何便利（包括但不限于设置URL、BANNER链接等）:</p>
					<p class="rank3">a) 违反国家规定的政治宣传和/或新闻信息；</p>
					<p class="rank3">b) 涉及国家秘密和/或安全的信息；</p>
					<p class="rank3">c) 封建迷信和/或淫秽、色情、下流的信息或教唆犯罪的信息；</p>
					<p class="rank3">d) 博彩有奖、赌博游戏、“私服”、“外挂”等非法互联网出版活动；</p>
					<p class="rank3">e) 违反国家民族和宗教政策的信息；</p>
					<p class="rank3">f) 防碍互联网运行安全的信息；</p>
					<p class="rank3">g) 侵害他人合法权益的信息和/或其他有损于社会秩序、社会治安、公共道德的信息或内容； </p>
					<p class="rank3">h) 其他违反法律法规、部门规章或国家政策的内容。</p>
				<p>G. 不进行任何改变或试图改变易企签提供的系统配置或破坏系统安全的行为。</p>
				<p>H. 不从事其他违法、违约或违反易企签规则的行为。</p>
				<p>如易企签发现您违反上述条款的约定，或者接到第三方的投诉举报后，有权根据情况采取相应的处理措施，包括但不限于立即终止服务或删除相应信息等。</p>
				<p>4） 您对自己行为包括但不限于自行安装的软件和进行的操作，以及遭受病毒攻击所引起的全部后果结果承担全部责任。</p>
				<p>5） 您对自己存放在易企签云平台上的数据以及进入和管理易企签上各类产品与服务的账户信息安全性负责。因您维护不当或保密不当致使上述账户信息丢失或泄漏所引起的一切损失和后果均由您自行承担。</p>
				<p>6） 您同意，（a）如您发现有他人冒用或盗用您的易企签登录名及密码或任何其他未经合法授权之情形，或发生与易签签账户关联的手机或其他设备遗失或其他可能危及到易企签账户资金安全情形时，应立即以有效方式通知本公司，向本公司申请暂停相关服务，以保障您的合法权益；及（b）确保您在持续登录易企签网站时段结束时，以正确步骤离开网站。本公司不能也不会对因您未能遵守本款约定而发生的任何损失、损毁及其他不利后果负责。您理解本公司对您的请求采取行动需要合理期限，在此之前，本公司对已执行的指令及（或）所导致的您的损失不承担任何责任。</p>
				<p>7） 除非您本人书面提出申请或者另有法律规定或经司法裁判，且征得本公司同意，否则您的易企签登录名及密码、易企签账户不得以任何方式转让、赠与或继承（相关的财产权益除外）。</p>
				<p>8） 您了解易企签无法保证其所提供的服务毫无瑕疵，但易企签承诺不断提升服务质量及服务水平。所以您同意：即使易企签提供的服务存在瑕疵，但上述瑕疵是当时行业技术水平所无法避免的，其将不被视为易企签违约。您同意和易企签一同合作解决上述瑕疵问题。</p>
		<h4>2. 易企签的权利和义务 </h4>
			<p>1） 易企签应按照合同约定提供服务。</p>
			<p>2） 易企签应承担易企签电子签名服务平台的运营与维护，以及相关的系统升级。</p>
			<p>3） 服务期限内，易企签将为您提供如下客户服务：</p>
				<p>A. 易企签为付费用户提供7天×8小时的技术服务，并为付费用户提供有效的联系方式并保证付费用户能够联系到故障联系人。故障联系人在明确故障后及时进行反馈。</p>
				<p>B. 易企签提供5天×8小时的在线和电话服务，解答客户在使用中的问题。</p>
			<p>4） 易企签将消除您非人为操作所出现的故障，但因您原因和/或不可抗力以及非易企签控制范围之内的事项除外。</p>
			<p>5） 易企签应严格遵守保密义务。</p>
		<h3>八、 用户数据的保存与销毁</h3>
			<p>您的用户数据将在下述情况下部分或全部被披露：</p>
			<p>1. 经您同意，向第三方披露；</p>
			<p>2. 根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；</p>
			<p>3. 如果您出现违反中国有关法律法规的情况，需要向第三方披露；为提供您所要求的软件或服务，而必须和第三方分享您的数据；</p>
			<p>4. 付费用户到期，7天内不续费的，易企签有权利将清空账号内的文件。您需自行承担数据被销毁后所引发的一切后果。</p>
			<p>5. 免费用户如注册后180天内未登录过，易企签有权利清空账号内的文件。您需自行承担数据被销毁后所引发的一切后果。</p>
		<h3>九、 知识产权</h3>
			<p>1. 您应保证提交易企签的素材 、对易企签服务的使用及使用易企签服务所产生的成果未侵犯任何第三方的合法权益。如有第三方基于侵犯版权、侵犯第三人之权益或违反中国法律法规或其他适用的法律等原因而向易企签进行投诉举报、提起仲裁、诉讼等索赔或可能向其提起诉讼, 则您应赔偿易企签因此承担的全部费用或损失，并使易企签完全免责。</p>
			<p>2. 如果第三方机构或个人对您使用易企签服务及其相关素材的知识产权归属提出质疑或投诉，您有责任出具相关知识产权证明材料，并配合易企签相关投诉处理工作。</p>
			<p>3. 您承认易企签向您提供的任何资料、技术或技术支持、软件、服务等的知识产权均属于易企签或第三方所有，您无权复制、传播、转让、许可或提供他人使用上述资源，否则应承担相应的法律责任。</p>
		<h3>十、 保密条款</h3>
			<p>1. 保密资料指由一方向另一方披露的所有技术及非技术信息(包括但不限于产品资料，产品计划，价格，财务及营销规划，业务战略，客户信息，客户数据，研发，软件硬件，API应用数据接口，技术说明，设计，特殊公式，特殊算法等)。</p>
			<p>2． 软件服务合同任何一方同意对获悉的对方之上述保密资料予以保密，并严格限制接触上述保密信息的员工遵守本条之保密义务。除非国家机关依法强制要求或上述保密资料已经进入公有领域外，接受保密资料的一方不得对外披露。</p>
			<p>3. 软件服务合同双方明确认可各自用户信息和业务数据等是各自的重要资产及重点保密信息。软件服务合同双方同意尽最大的努力保护上述保密信息等不被披露。一旦发现有上述保密信息泄露事件，双方应合作采取一切合理措施避免或者减轻损害后果的产生。</p>
			<p>4. 本条款不因软件服务合同的解除或终止而失效。</p>
		<h3>十一、 不可抗力</h3>
			<p>1. 因不可抗力或者其他意外事件，使得本服务条款的履行不可能、不必要或者无意义的，遭受不可抗力、意外事件的一方不承担责任。</p>
			<p>2. 不可抗力、意外事件是指不能预见、不能克服并不能避免且对一方或双方当事人造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行等以及社会事件如战争、动乱、政府行为、电信主干线路中断、黑客、网路堵塞、阿里云技术调整和政府管制等。</p>
		<h3>十二、 附则</h3>
			<p>1. 软件服务合同、本服务条款、易企签在相关页面上的服务说明、价格说明等是软件服务合同不可分割的一部分，与软件服务合同具有同等法律效力。如果有任何前述约定与软件服务合同有不一致之处，以软件服务合同为准。</p>
			<p>2. 您同意，易企签有权以提前30天在易企签官网上公布及给您发网站内通知的方式将软件服务合同的权利义务全部或者部分转移给易企签关联公司，由指定关联公司继续向您提供服务。</p>
			<p>3. 如果任何条款在性质上或其他方面理应地在此合同终止时继续存在，那么应视为继续存在的条款，这些条款包括但不局限于保证条款、保密、知识产权、法律和管辖地条款。</p>
			<p>4. 软件服务合同自您点击同意、确认键，并且及时足额支付服务费用之时起成立并生效。</p>
   	</div>
	<!-- 拖底 -->
 	<div th:replace="home/pages/common/quote-common.html :: copy-content-foot"></div>
 	<div th:replace="home/pages/common/quote-common.html :: copy-base-foot"></div>
  </body>
</html>