<!DOCTYPE html>
<html>
<head>
<title>蜗云 | 文件中心</title>
<div th:replace="system/pages/common/sys-quote-common.html :: copy-syscommon-headerstyle"></div>
<link rel="stylesheet" href="../../css/simple-pagination.css" th:href="@{/static/system/css/simple-pagination.css}">
</head>
<body>
<div th:replace="system/pages/common/browser-common.html :: copy-browser">动态复用</div>
<div class="container">
	<div class="container-header">
		<div th:replace="system/pages/common/sys-bar-common.html :: copy-headerbar">动态复用</div>
	</div>
</div>    

<!--footer-->
<div th:replace="system/pages/common/sys-quote-common.html  :: copy-sysbase-footer">此处footer动态复用</div>
<script th:src="@{/static/common/js/jquery.simplePagination.js}" type="text/javascript"></script>
<script th:src="@{/static/system/js/doctask.js}" type="text/javascript"></script>
</body>
</html>
